{%extends "layout.html"%}
{%block content%}

<h1>Add Laptop</h1>
                <form method="POST" action="{{ url_for('add_laptop') }}" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name(class="form-control") }}
                        {% for error in form.name.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.category.label }}
                        {{ form.category(class="form-control") }}
                        {% for error in form.category.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.processor.label }}
                        {{ form.processor(class="form-control") }}
                        {% for error in form.processor.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    </div>
                    <div class="form-group">
                        {{ form.graphic_card.label }}
                        {{ form.graphic_card(class="form-control") }}
                        {% for error in form.graphic_card.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.operating_system.label }}
                        {{ form.operating_system(class="form-control") }}
                        {% for error in form.operating_system.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.memory.label }}
                        {{ form.memory(class="form-control") }}
                        {% for error in form.memory.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.hard_drive.label }}
                        {{ form.hard_drive(class="form-control") }}
                        {% for error in form.hard_drive.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.image_file.label }}
                        {{ form.image_file(class="form-control") }}
                        {% for error in form.image_file.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    
                    {{ form.submit(class="btn btn-primary") }}
                </form>

{%endblock%}