{% extends "layout.html" %}

{% block content %}
    <div class="row">
        
        {% for e in edge_computings %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="static/laptop_pics/{{ e.image_file }}" class="card-img-top" alt="{{ e.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ e.name }}</h5>
                        <small>1 Star: {{ e.rating_1 }} &nbsp; &nbsp; &nbsp; &nbsp; 2 Star: {{ e.rating_2 }} &nbsp; &nbsp; &nbsp; &nbsp; 3 Star: {{ e.rating_3 }} <br>
                            4 Star: {{ e.rating_4 }} &nbsp; &nbsp; &nbsp; &nbsp; 5 Star: {{ e.rating_5 }}
                        </small>
                        <p class="card-text">Processor: {{ e.processor }}</p>
                        <p class="card-text">RAM: {{ e.RAM }}</p>
                        <p class="card-text">Connectivity: {{ e.connectivity }}</p>
                        <p class="card-text">Ports: {{ e.ports }}</p>
                        <p class="card-text">Storage: {{ e.storage }}</p>
                        <p class="card-text">Power: {{ e.power }}</p>
                        <p class="card-text">${{ e.price }}</p>
                        
                        <a href="{{ url_for('edge_computing_detail', edge_computing_id=e.id) }}" class="btn btn-primary">Customize</a>
                        <a href="{{ url_for('edge_computing_comment', edge_computing_id=e.id) }}" class="btn btn-primary">Comments</a>
                        {%if current_user.is_employee%}
                        <a href="{{ url_for('delete_edge_computing', edge_computing_id=e.id) }}" class="btn btn-danger">Delete</a>
                        {%endif%}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}