{%extends "layout.html"%}
{%block content%}
    <div class="content">
        <h1 style="text-align: center">Memo List</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Date Posted</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>
                {% for memo in memos %}
                <tr>
                    <td>{{ memo.user_id }}</td>
                    <td>{{ memo.title }}</td>
                    <td>{{ memo.content }}</td>
                    <td>{{ memo.date_posted.strftime('%Y/%m/%d %H:%M:%S') }}</td>
                    <td><a href="{{ url_for('delete_memo',memo_id=memo.id) }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% for page_num in memos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if memos.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('memo', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('memo', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{%endblock%} 