{%extends "layout.html"%}
{%block content%}

<h1>Rate This Configuration</h1>
                <form method="POST" action="{{ url_for('rate_edge_computing_configuration',edge_computing_id=edge_computing_id) }}" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.rating.label }}
                        {{ form.rating(class="form-control") }}
                        {% for error in form.rating.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    {{ form.submit(class="btn btn-primary") }}
                </form>

{%endblock%}